*.cmx
*.cmi
*.cmo
*.o
*.byte
*.automaton
._d
._bcdi
._ncdi
lexer/tigerlex.ml
lexer/lexer_tester
parser/tigerparse.ml
parser/tigerparse.mli
parser/parser_tester
semant/semant_tester
canon/canon_tester
iselect/iselect_tester
regalloc/regalloc_tester
main/*.S
main/*.out
main/*.i64
main/tiger
ml-burg/burglex.ml
ml-burg/burgparse.ml
ml-burg/burgparse.mli
ml-burg/burg
ml-burg/example1.ml
ml-burg/example2.ml
ml-burg/example1.sml
ml-burg/example2.sml
ml-burg/m68000.ml

